*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
    background-color: #7ee8fa;
	background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    background-attachment: fixed;
}
.container{
    text-align: center;
    display: grid;
	grid-template-areas: 
	"header header header"
	"menu menu menu"
	"sup sup sup"
    "box1 box2 box3"
    "box4 box5 box6"
	"footer footer footer";
	grid-template-rows: 40px 40px 135px 1fr 1fr 25px;
	grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}
header{
	height: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 5px;
    padding: 5px;
    grid-area: header;
}
.imglogo{
    width: 35px;
}
.imgbox{
    width: 210px;
    border-radius: 5px;
	border: black solid 1px;
    box-shadow: 10px 10px 15px gray;
    opacity: 0.8;
}
.imgbox:hover{
    opacity: 1;
    border-radius: 5px;
	border: white solid 2px;
    box-shadow: 10px 10px 15px gray;
}
nav{
	padding: 5px;
	height: 25px;
    grid-area: menu;
}
nav ul{
	display: flex;
}
.menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
    list-style-type: none; 
    
}
.menu li{
	background: rgba(255, 255, 255, 0.479);
	box-shadow: 10px 10px 15px gray;
	border: black solid 1px;
	border-radius: 5px;
	transition: all 1.5s;
}
.menu li:hover{
	background-color: white;
	
}
.menu li a{
	padding: 10px;
	text-decoration:overline;
	color: black;
	transition: all 1.5s;
	
}
.menu li a:hover{
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline;
}
.sup{
    grid-area: sup;
    padding: 20px;
}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.box6{
    grid-area: box6;
}
.vid{
    grid-area: vid;
}
footer{
    grid-area: footer;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
p{
	line-height: 1.5;
}
@media screen and (max-width: 768px){
	.container{
		grid-template-areas: 
		"header header"
		"menu menu"
		"sup sup"
		"box1 box2"
		"box3 box4"
		"box5 box6"
		"footer footer";
		grid-template-rows: repeat(7, auto);
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 425px){
	.container{
		grid-template-areas: 
		"header"
		"menu"
		"sup"
		"box1"
		"box2"
		"box3"
		"box4"
		"box5"
		"box6"
		"footer";
		grid-template-rows: repeat(10, auto);
		grid-template-columns: auto;
	}
	nav{
		padding: 0px;
	}
	.menu{
		justify-content: space-between;
	}
	.imgbox{
		width: 150px;
	}
	.sup{
		margin: 0px;
		padding: 10px;
		height: auto;
	}
}